.cell-1 {
   -fx-background-color: #FFDACB;
}

.cell-2 {
   -fx-background-color: #6F4125;
}

.cell-hover {
   -fx-background-color: #212F3D !important;
   -fx-border-width: 4px !important;
   -fx-border-color: black !important;
   -fx-cursor: hand !important;
}

.cell-selected {
   -fx-background-color: #148F77;
}

.cell-move {
   -fx-background-color: #3498DB;
   -fx-border-width: 2px;
   -fx-border-color: black;

}

.cell-enemy {
   -fx-background-color: #EC7063;
   -fx-border-width: 2px;
   -fx-border-color: black;
}

.board-edge {
   -fx-background-color: black;
}

.root {
   -fx-background-color: #2F1000;
}

.black-dead-piece-cell {
   -fx-background-color: white;
   -fx-border-width: 2.5px;
   -fx-border-color: grey;
}

.white-dead-piece-cell {
   -fx-background-color: black;
   -fx-border-width: 2.5px;
   -fx-border-color: grey;
}

.lbl-board-coords {
   -fx-text-fill: rgb(161, 161, 161);
   -fx-font-size: 35px;
}