.cell-1 {
   -fx-background-color: #FFDACB;
}

.cell-2 {
   -fx-background-color: #6F4125;
}

.cell-hover {
   -fx-background-color: #212F3D;
   -fx-border-width: 4px;
   -fx-border-color: black;
   -fx-cursor: hand;
}

.cell-selected {
   -fx-background-color: #148F77;
}

.board-edge {
   -fx-background-color: black;
}

.root {
   -fx-background-color: #2F1000;
}